@import "./reset.css";

/* text style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* змінні */

:root{
     --main-color: #FFFFFF;
     --text__space-mono: 'Space Mono', monospace;
     --text__worksans: 'Work Sans', sans-serif;
     --colorforcounttext: #858584;
     --footertextcolor:#CCCCCC;
}
body{
     max-width: 1440px;
     background: #2B2B2B;
     font-family: Space Mono;
     color: var(--main-color);
}

.none{
     display: none !important;
}

/* header */
.header{

}
.nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 20px 50px;

}
.nav__logo{
     display: flex;
     flex-direction: row;
     column-gap: 10px;
     align-items: center;
}
.nav__list{
     /* position: relative; */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     column-gap: 12px;
     padding: 0px 0px 0px 285px;
     /* left: 75px; */
}
.nav__list a{
     color: var(--main-color);
     font-family: Work Sans;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     padding: 0px 20px;
}
.logo__title{
     font-size: 18px;
     font-weight: 700;
     color: var(--main-color);
}

.nav__btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 12px;
     border-radius: 20px;
     padding: 0px 30px;
     background-color: #A259FF;
}
.nav__btn a{
     font-family: "Work Sans";
     font-size: 16px;
     color: inherit;
}
.nav__btn img{
     width: 20px;
     height: 20px;
}
.btn__title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     padding-top: 19px;
     padding-bottom: 19px;
}

.container{
     display: flex;
     flex-direction: row;
     max-height: 510px;
     margin: 80px 115px;
}
.header__content{
     max-width: 510px;
}
.header__content--title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 67px;
     line-height: 110%;
     color: var(--main-color);
     margin: 20px 0px;
}
.header__content-text{
     font-family: 'Work Sans';
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
     text-transform: capitalize;
     font-size: 40px 0px;
}


.header__content--btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 12px;
     background: #A259FF;
     border-radius: 20px;
     padding: 0px 50px;
     margin-top: 40px;
}
.btn__title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
}
.img-icon{
     width: 20px;
     height: 20px;
}
.header__content-info{
     margin-top: 40px;
     display: flex;
     flex-direction: row;
     column-gap: 65px;
}
.amount__title{
     font-family: var(--text__space-mono);
     font-weight: 700;
     font-size: 28px;
     line-height: 140%;
}
.info-text{
     font-family: var(--text__worksans);
     font-weight: 400;
     font-size: 23.99px;
     line-height: 160%;
}

/* header second container */

.header__content-img{
     display: flex;
     flex-direction: column;
     align-items: center;
     max-height: 510px;
     margin-left: 50px;
     border-radius: 20px 20px 0px 0px;
}

.header__img{
     /* max-height: 401px; */
     background-color: #3B3B3B;
     border-radius: 20px;
}

.header__main-img{
     width: 510px;
     max-height: 401px;
}

.header__owner-title{
     margin: 22px 20px 10px 20px;
}
.header__owner-avatar{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 10px;
     margin: 0px 20px 22px 20px;
}
.owner-name{
     font-family: var(--text__worksans);
     font-weight: 400;
     font-size: 12px;
     line-height: 140%;
}
.header__avatar{
     border-radius: 120px;
}

/* hide elements */
.header__top-infobox{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     background-color: #3B3B3B;
}
.header__top-infobox img{
     margin: 20px;
     margin-right: 12px;
     width: 60px;
     height: 60px;
}

.avatar__name{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 140%;
}
.infobox__img{
     display: flex;
     flex-direction: column
}
.avatar__text-info{
     display: block;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     color: var(--colorforcounttext);
}

.header__bottom-infobox{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     column-gap: 18px;
     /* max-width: 280px; */
     padding: 20px 30px;
     margin: 0px 115px;
     border: 1px solid #858584;
     background-color: #3B3B3B;
}

/* for click animation */

.header__top-infobox--active,
.header__bottom-infobox--active{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     column-gap: 18px;
     /* max-width: 280px; */
     padding: 20px 30px;
     margin: 0px 115px;
     border: 1px solid #858584;
     background-color: #3B3B3B;
}
.fix-imgsize{
     max-height: 221px;
}
/* ---------------------- */

.partbox{

}

.header__bottom-count{
     color: var(--colorforcounttext);
}

.header__bottom-count,
.header__bottom-data{
     font-family: var(--text__space-mono);
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 110%;
}
.header__bottom-data{
     font-size: 16px;
     line-height: 140%;
}

/* Collection */

.collection{
     margin: 280px 117px;
}
.collection__container{
     display: flex;
     flex-direction: column;
}
.collection__title{
     font-family: var(--text__worksans);;
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.collection__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
}


.collection__content{
     margin-top: 60px;
     display: flex;
     flex-direction: row;
     column-gap: 30px;
}
.collection__list-nft{
     display: flex;
     flex-direction: row;
     column-gap: 15px;
     margin-top: 15px;
}
.collection__box-more{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: 100px;
     border-radius: 20px;
     background: #A259FF;
}
.text-more{
     font-family: var(--text__space-mono);
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 160%;
}

.collection__ownerbox{
     margin-top: 15px;
}

.collection__owner-title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 140%;
}
.cover-ownerinfo{
     display: flex;
     flex-direction: row;
     column-gap: 10px;
     margin-top: 10px;
}
.collection__owner-name{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
}

/* Creators */
.creators{
     display: flex;
     flex-direction: column;
     padding: 80px 150px;
     margin-top: -100px;
     gap: 60px;
}



.creators__info{
     display: flex;
     flex-direction: row;
     column-gap: 100px;
}
.creators__title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.creators__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 160%;
}

.creators__btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px 50px;
     margin-top: 11px;
     margin-left: 140px;
     gap: 12px;
     border: 2px solid #A259FF;
     border-radius: 20px;
}
.creators__btn-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     display: inline-block;
     white-space: nowrap;
     margin: 15px 12px 15px 0px;
}


.creators__content{
     display: flex;
     flex-direction: column;
     row-gap: 19px;
     margin-top: 60px;
}
.creators__content__list{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     column-gap: 19px;
}
.creators__content-infobox{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     background: #3B3B3B;
     border-radius: 20px;
}


.infobox-num{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background: #2B2B2B;
     border-radius: 20px;
     color: #858584;
     margin-right: 160px;
}
.infobox-boxtext{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
.infobox-title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 140%;
}

.infobox-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     margin-top: 5px;
     margin: 0px 2px;
     color: #858584;
}
.creators__span{
     color: #FFFFFF;
}





/* Subscribe */
.subscribe{
     display: flex;
     justify-content: center;
     align-items: center;
}
.subscribe__container{
     display: flex;
     flex-direction: row;
     column-gap: 80px;
     margin: 2px 195px 80px;
     width: 1050px;
     max-height: 430px;
     background: #3B3B3B;
     border-radius: 20px;
}
.subscribe__img{
     max-height: 310px;
     max-width: 425px;
     margin: 60px;
     border-radius: 20px;
}

.subscribe__content{
     margin: 60px 60px 79px -70px;
}
.subscribe__title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.subscribe__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
}
.subscribe__form{
     margin-top: 40px;
     display: flex;
     flex-direction: row;
     background: #FFFFFF;
     border-radius: 20px;

}
.subscribe__input{
     padding: 19px 12px 19px 20px;
     color:#2B2B2B;
}
.subscribe__input::placeholder{

     color: var(--colorforcounttext);
}
.subscribe__btn{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     column-gap: 12px;

     background: #A259FF;
     border-radius: 20px;
     padding: 20px 25px;
}
.make-icon{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20px;
     height: 20px;
}


/* Footer */


.footer__container{
     display: flex;
     flex-direction: column;

     /* width: 1049.41px;
     height: 100%; */
     margin: 40px 115.29px;
}

.footer__content{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 31px;
}
.footer__content-firstbox{
     margin-top: 40px;

}
.footer__firstbox-textbox{
     margin-top: 30px;
}
.textbox-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     color: var(--footertextcolor);
}
.textbox__list-icons img{
     width: 32px;
     height: 32px;
}


.footer__content-secondbox{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 42px;
}
.footer__list{
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     padding: 0px;
     margin-top: 25px;
}
.footer__list a{
     color: var(--footertextcolor);
}
.footer__subscribe-title{
     font-family: 'Space Mono';
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 160%;
     margin-bottom: 25px;
}

.footer__content-thirdbox{
     margin-top: 40px;
}







.footer__bottom{
     margin-top: 30px;
}
