@import "./reset.css";

/* text style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Work+Sans:wght@100;200;300;400;500;600&display=swap');

/* змінні */

:root{
     --main-color: #FFFFFF;
     --text__space-mono: 'Space Mono', monospace;
     --text__worksans: 'Work Sans', sans-serif;
     --colorforcounttext: #858584;
     --footertextcolor:#CCCCCC;
}
body{
     max-width: 1440px;
     background: #2B2B2B;
     font-family: Space Mono;
     color: var(--main-color);
}

.none{
     display: none !important;
}

/* header */
.header{

}
.nav{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 20px 50px;

}
.nav__logo{
     display: flex;
     flex-direction: row;
     column-gap: 10px;
     align-items: center;
}
.nav__list{
     /* position: relative; */
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     column-gap: 12px;
     padding: 0px 0px 0px 285px;
     /* left: 75px; */
}
.nav__list a{
     color: var(--main-color);
     font-family: Work Sans;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     padding: 0px 20px;
}
.logo__title{
     font-size: 18px;
     font-weight: 700;
     color: var(--main-color);
}

.nav__btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 12px;
     border-radius: 20px;
     padding: 0px 30px;
     background-color: #A259FF;
}
.nav__btn a{
     font-family: "Work Sans";
     font-size: 16px;
     color: inherit;
}
.nav__btn img{
     width: 20px;
     height: 20px;
}
.btn__title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     padding-top: 19px;
     padding-bottom: 19px;
}

.nav__toggle{
     display: none;
}

/* Menu icon */
.menu-icon-wrapper{
     --time: 0.1s;
     --width: 40px;
     --height: 30px;
     --line-height: 4px;
     --color: #fff;

     height: var(--height);
     width: var(--width);
     display: flex;
     justify-content: center;
     align-items: center;
}
.menu-icon-wrapper--active{
     margin-bottom: 500px;
}
.menu-icon{
     position: relative;
     height: var(--line-height);
     width: var(--width);
     background-color: var(--color);
}

.menu-icon::before,
.menu-icon::after{
     content: '';
     display: block;
     position: absolute;
     left: 0;

     height: var(--line-height);
     width: var(--width);
     background-color: var(--color);
     transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.menu-icon::before{
     top: calc(var(--line-height) * -2);
}
.menu-icon::after{
     top: calc(var(--line-height) * 2);
}

.menu-icon.menu-icon--active{
     background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after{
     top: 0;
     transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.menu-icon.menu-icon--active::before{
     transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after{
     transform: rotate(-45deg);
}


/* end of menu icon */

.container{
     display: flex;
     flex-direction: row;
     max-height: 510px;
     margin: 80px 115px;
}
.header__content{
     max-width: 510px;
}
.header__content--title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 67px;
     line-height: 110%;
     color: var(--main-color);
     margin: 20px 0px;
}
.header__content-text{
     font-family: 'Work Sans';
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
     text-transform: capitalize;
}


.header__content--btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 12px;
     background: #A259FF;
     border-radius: 20px;
     padding: 0px 50px;
     margin-top: 40px;
}
.btn__title{
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
}
.img-icon{
     width: 20px;
     height: 20px;
}
.header__content-info{
     margin-top: 40px;
     display: flex;
     flex-direction: row;
     column-gap: 65px;
}
.amount__title{
     font-family: var(--text__space-mono);
     font-weight: 700;
     font-size: 28px;
     line-height: 140%;
}
.info-text{
     font-family: var(--text__worksans);
     font-weight: 400;
     font-size: 23.99px;
     line-height: 160%;
}

/* header second container */

.header__content-img{
     display: flex;
     flex-direction: column;
     align-items: center;
     max-height: 510px;
     margin-left: 50px;
     border-radius: 20px 20px 0px 0px;
}
.header__content-img_mobile{
     display: none;
}

.header__img{
     /* max-height: 401px; */
     background-color: #3B3B3B;
     border-radius: 20px;
}

.header__main-img{
     width: 510px;
     max-height: 401px;
}

.header__owner-title{
     margin: 22px 20px 10px 20px;
}
.header__owner-avatar{
     display: flex;
     flex-direction: row;
     align-items: center;
     column-gap: 10px;
     margin: 0px 20px 22px 20px;
}
.owner-name{
     font-family: var(--text__worksans);
     font-weight: 400;
     font-size: 12px;
     line-height: 140%;
}
.header__avatar{
     border-radius: 120px;
}

/* hide elements */
.header__top-infobox{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     background-color: #3B3B3B;
}
.header__top-infobox img{
     margin: 20px;
     margin-right: 12px;
     width: 60px;
     height: 60px;
}

.avatar__name{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 18px;
     line-height: 140%;
}
.infobox__img{
     display: flex;
     flex-direction: column
}
.avatar__text-info{
     display: block;
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     color: var(--colorforcounttext);
}

.header__bottom-infobox{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     column-gap: 18px;
     /* max-width: 280px; */
     padding: 20px 30px;
     margin: 0px 115px;
     border: 1px solid #858584;
     background-color: #3B3B3B;
}

/* for click animation */

.header__top-infobox--active,
.header__bottom-infobox--active{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     border-radius: 20px;
     column-gap: 18px;
     /* max-width: 280px; */
     padding: 20px 30px;
     margin: 0px 115px;
     border: 1px solid #858584;
     background-color: #3B3B3B;
}
.fix-imgsize{
     max-height: 221px;
}
/* ---------------------- */

.partbox{

}

.header__bottom-count{
     color: var(--colorforcounttext);
}

.header__bottom-count,
.header__bottom-data{
     font-family: var(--text__space-mono);
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 110%;
}
.header__bottom-data{
     font-size: 16px;
     line-height: 140%;
}

/* Collection */

.collection{
     margin: 280px 117px;
}
.collection__container{
     display: flex;
     flex-direction: column;
}
.collection__title{
     font-family: var(--text__worksans);;
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.collection__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
}


.collection__content{
     margin-top: 60px;
     display: flex;
     flex-direction: row;
     column-gap: 30px;
}
.collection__list-nft{
     display: flex;
     flex-direction: row;
     column-gap: 15px;
     margin-top: 15px;
}
.collection__box-more{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100px;
     height: 100px;
     border-radius: 20px;
     background: #A259FF;
}
.text-more{
     font-family: var(--text__space-mono);
     font-style: normal;
     font-weight: 700;
     font-size: 22px;
     line-height: 160%;
}

.collection__ownerbox{
     margin-top: 15px;
}

.collection__owner-title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 140%;
}
.cover-ownerinfo{
     display: flex;
     flex-direction: row;
     column-gap: 10px;
     margin-top: 10px;
}
.collection__owner-name{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
}

/* Creators */
.creators{
     display: flex;
     flex-direction: column;
     padding: 80px 150px;
     margin-top: -100px;
     gap: 60px;
}



.creators__info{
     display: flex;
     flex-direction: row;
     column-gap: 100px;
}
.creators__title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.creators__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 18px;
     line-height: 160%;
}

.creators__btn{
     display: flex;
     flex-direction: row;
     align-items: center;
     padding: 0px 50px;
     margin-top: 11px;
     margin-left: 140px;
     gap: 12px;
     border: 2px solid #A259FF;
     border-radius: 20px;
}
.creators__btn-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 16px;
     line-height: 140%;
     display: inline-block;
     white-space: nowrap;
     margin: 15px 12px 15px 0px;
}


.creators__content{
     display: flex;
     flex-direction: column;
     row-gap: 19px;
     margin-top: 60px;
}
.creators__content__list{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     column-gap: 19px;
}
.creators__content-infobox{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding: 20px;
     background: #3B3B3B;
     border-radius: 20px;
}


.infobox-num{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 30px;
     height: 30px;
     background: #2B2B2B;
     border-radius: 20px;
     color: #858584;
     margin-right: 160px;
}
.infobox-boxtext{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
}
.infobox-title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 22px;
     line-height: 140%;
}

.infobox-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     margin-top: 5px;
     margin: 0px 2px;
     color: #858584;
}
.creators__span{
     color: #FFFFFF;
}





/* Subscribe */
.subscribe{
     display: flex;
     justify-content: center;
     align-items: center;
}
.subscribe__container{
     display: flex;
     flex-direction: row;
     column-gap: 80px;
     margin: 2px 195px 80px;
     width: 1050px;
     max-height: 430px;
     background: #3B3B3B;
     border-radius: 20px;
}
.subscribe__img{
     max-height: 310px;
     max-width: 425px;
     margin: 60px;
     border-radius: 20px;
}

.subscribe__content{
     margin: 60px 60px 79px -70px;
}
.subscribe__title{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 600;
     font-size: 38px;
     line-height: 120%;
}
.subscribe__text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 22px;
     line-height: 160%;
}
.subscribe__form{
     margin-top: 40px;
     display: flex;
     flex-direction: row;
     background: #FFFFFF;
     border-radius: 20px;

}
.subscribe__input{
     padding: 19px 12px 19px 20px;
     color:#2B2B2B;
}
.subscribe__input::placeholder{

     color: var(--colorforcounttext);
}
.subscribe__btn{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     column-gap: 12px;

     background: #A259FF;
     border-radius: 20px;
     padding: 20px 25px;
}
.make-icon{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 20px;
     height: 20px;
}


/* Footer */


.footer__container{
     display: flex;
     flex-direction: column;

     /* width: 1049.41px;
     height: 100%; */
     margin: 40px 115.29px;
}

.footer__content{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 31px;
}
.footer__content-firstbox{
     margin-top: 40px;

}
.footer__firstbox-textbox{
     margin-top: 30px;
}
.textbox-text{
     font-family: var(--text__worksans);
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 140%;
     color: var(--footertextcolor);
}
.textbox__list-icons img{
     width: 32px;
     height: 32px;
}


.footer__content-secondbox{
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 42px;
}
.footer__list{
     display: flex;
     flex-direction: column;
     row-gap: 20px;
     padding: 0px;
     margin-top: 25px;
}
.footer__list a{
     color: var(--footertextcolor);
}
.footer__subscribe-title{
     font-family: 'Space Mono';
     font-style: normal;
     font-weight: 700;
     font-size: 18px;
     line-height: 160%;
     margin-bottom: 25px;
}

.footer__content-thirdbox{
     margin-top: 40px;
}
.footer__bottom{
     margin-top: 30px;
}




/* Media */
@media (max-width: 1200px){
     /* header */
     .nav__btn{
          padding: 0px 20px;
     }
     .nav__list{
          padding: 0px 0px 0px 180px;
     }
     .container {
          margin: 80px 65px;
     }
     .header__img{
          background-size: 100%;
     }
     .header__content--title {
          font-size: 62px;
     }
     .header__content-text{
          font-size: 18px;
     }
     .header__content--btn{
          margin-top: 28px;
          padding: 0px 45px;
     }
}

@media (max-width: 1100px){
     /* header */
     .header__content--title {
          font-size: 50px;
      }
     .container {
          margin: 80px 45px;
     }
}

@media (max-width: 1000px){
     /* header */
     .nav__list{
          display: none;
     }
     .nav__btn{
          display: none;
     }
     .nav__toggle{
          display: block;
     }
     .no-scroll{
          overflow-y: hidden;
     }
     .nav--mobile{
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: 99;

          flex-direction: column;
          align-items: center;
          padding-top: 40px;
          padding-bottom: 40px;

          background: #2B2B2B;
     }
     .container {
          margin: 80px 25px;
     }
     .nav__list--active{
          display: flex;
          flex-direction: column;
          align-items: center;
          row-gap: 40px;
          padding: 0px;
     }
     .nav__btn--active{
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 5px;
          border-radius: 20px;
          padding: 0px 30px;
          background-color: #A259FF;
     }
     .amount__title {
          font-size: 27px;
      }
     .info-text {
          font-size: 21.99px;
     }
}

@media (max-width: 900px){
     /* header */
     .header__content--title {
          font-size: 35px;
     }
     .header__content-text {
          font-size: 14px;
      }
     .header__content--btn {
          padding: 0px 25px;
     }
     .btn__title{
          font-size: 13px;
     }
     .amount__title {
          font-size: 22px;
      }
     .info-text {
          font-size: 18.99px;
      }
}

@media (max-width: 700px){
     /* header */
     .container {
          margin: 60px 25px;
      }
      .header__content--title {
          font-size: 32px;
      }
      .header__content-text {
          font-size: 12px;
      }
      .header__content--btn {
          padding: 0px 20px;
      }
      .btn__title {
          font-size: 10px;
      }
      .img-icon {
          width: 13px;
          height: 13px;
      }
     .header__content--btn {
          column-gap: 5px;
          margin-top: 23px;
     }
     .amount__title {
          font-size: 15px;
      }
      .info-text {
          font-size: 10.99px;
      }
      .header__content-info {
          margin-top: 24px;
          column-gap: 62px;
      }
}

@media (max-width: 580px){
     /* header */
     .nav__logo img{
          transform: scale(0.75);
     }
     .menu-icon-wrapper {
          transform: scale(0.85);
     }
     .logo__title {
          font-size: 16px;
      }
     .header__content--title {
          font-size: 26px;
      }
      .header__content-text {
          font-size: 10px;
      }
     .btn__title{
          padding-top: 15px;
          padding-bottom: 15px;
     }
     .amount__title {
          font-size: 12px;
      }
     .info-text {
          font-size: 7.99px;
      }
}

@media (max-width: 480px){
     /* header */
     .nav {
          padding: 20px 15px;
     }
     .container {
          flex-direction: column;

     }
     .header__content {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 510px;
     }
     .header__content-img{
          display: none;
     }
     .header__content-img_mobile{
          display: flex;
          flex-direction: column;
          align-items: center;
          max-height: 510px;
          margin-top: 25px;
          border-radius: 20px 20px 0px 0px;
     }
     .header__content--btn {
          display: flex;
          justify-content: center;
          width: 100%;
      }
     .img-icon {
          width: 15px;
          height: 15px;
      }
      .btn__title {
          font-size: 12px;
      }
      .amount__title {
          font-size: 13px;
      }
      .info-text {
          font-size: 9.99px;
      }

}
